.sidebar-button-link {
    color: #ebebeb !important;
}

.sidebar-button-link:hover {
    color: #ffffff !important;
}

a.link-word-wrap-break-word {
    word-wrap: break-word !important;
}

a,
a:hover {
    color: #3eaf7c !important;
}

a.tag--primary {
    color: #3eaf7c !important;
    border: 1px solid #3eaf7c !important;
}
a.tag--primary:hover {
    color: #1e8f5a !important;
    border: 1px solid #1e8f5a !important;;
}